.product_card{
    min-width: 320px;
    background: var(--secondary, #F5F5F5);
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
    padding: 2em;
    align-items: center;
    text-align: start;

}
.product_img{
    width: 200px;
    display: block;
    margin: 0.5em auto;
}
.price_block{
    display: flex;
    gap: 1em;
    justify-content: flex-start;
    margin-top: 1em;
}
.procent_sale{
    border-radius: 4px;
    background: var(--secondary-2, #DB4444);
    width: 35%;
    padding: 0.5em;
    margin-bottom: 1em;
    color: var(--text, #FAFAFA);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;

}
.add_btn{
    width: 100%;
    margin-top: 1.5em;
    border-radius: 0px 0px 4px 4px;
    background: var(--button, #000);
    height: 37px;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    opacity: 0;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.product_card:hover .add_btn {
    opacity: 1;
}  
.rating{
    color: #FFAD33;
    font-size: 20px;
}
  
  
  
  
  
  